<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
<div class="chat_item">
    <div class="chat_item_image"></div>
    <div class="chat_item_title"></div>
    <div class="chat_item_text"></div>
</div>
