{% extends 'base.html' %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="../../static/styles/forum_page.css">
{% endblock %}
{% block body %}
<div class="postinput">
    Write post<span class="addbtn">+</span>
</div>
<div class="forumname">Forum Name</div>
<div class="postsblock">
    <div class="posts">
        <div class="header">
            <h1 class="topic">How to become a millionaire</h1>
            <div class="profile">
                <image src="file:///root/Documents/www.w3schools.com_by%20pinoysourcecode/howto/img_avatar.png">Quadri Ganiu
            </div>
            <span class="date">June, 25th</span>
        </div>
        <div class="media">
            <image src="file:///root/Documents/www.w3schools.com_by%20pinoysourcecode/howto/img_snow.jpg">
        </div>
        <p class="text ellipsize">Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... </p>
        <span>Read more</span>
        <div class="buttonblock">
            <button>
                Like <span class="count">250</span>
            </button>
            <button>
                Comment <span class="count">250</span>
            </button>
            <button>
                <span style="display:inline-block;">
                    Testify <span class="count">250</span>
                </span>
                <span class="chart">
                    <span class="true"></span>
                    <span class="false"></span>
                </span>
            </button>
            <button>Chat</button>
        </div>
    </div>
    <div class="posts">
        <div class="header">
            <h1 class="topic">How to become a millionaire</h1>
            <div class="profile">
                <image src="file:///root/Documents/www.w3schools.com_by%20pinoysourcecode/howto/img_avatar.png">Quadri Ganiu
            </div>
            <span class="date">June, 25th</span>
        </div>
        <div class="media">
            <image src="file:///root/Documents/www.w3schools.com_by%20pinoysourcecode/howto/img_snow.jpg">
        </div>
        <p class="text">Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... Here is my story... </p>
        <span>Read more</span>
        <div class="buttonblock">
            <button>
                Like <span class="count">250</span>
            </button>
            <button>
                Comment <span class="count">250</span>
            </button>
            <button>
                <span style="display:inline-block;">
                    Testify <span class="count">250</span>
                </span>
                <span class="chart">
                    <span class="true"></span>
                    <span class="false"></span>
                </span>
            </button>
            <button>Chat</button>
        </div>
    </div>
</div>
{% endblock %}


