<div class="post_item">
    <div class="post_topic"></div>
    <div class="post_forum"></div>
    <div class="post_image"></div>
    <div class="post_like"></div>
    <div class="post_comment"></div>
</div>
<div class="post_item">
    <div class="post_topic"></div>
    <div class="post_forum"></div>
    <div class="post_image"></div>
    <div class="post_like"></div>
    <div class="post_comment"></div>
</div>
<div class="post_item">
    <div class="post_topic"></div>
    <div class="post_forum"></div>
    <div class="post_image"></div>
    <div class="post_like"></div>
    <div class="post_comment"></div>
</div>
<div class="post_item">
    <div class="post_topic"></div>
    <div class="post_forum"></div>
    <div class="post_image"></div>
    <div class="post_like"></div>
    <div class="post_comment"></div>
</div>